.slider{
    height: 40px;
    border: 2px solid #6a5acd;
    border-radius: 20px;
}

.thumb{
    background-color: #6a5acd;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid #df73ff;
}
.slider.green .thumb{
    background-color: #df73ff;
}